<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Epic Task</title>
	<link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/form.css}">
	
</head>
<body>
	<nav th:fragment="menu">
		<ul>
			<li> <a href="/login">Home</a> </li>
			<li> <a href="/users" th:text="#{menu.users}"></a> </li>
			<li> <a href="/tasks" th:text="#{title.task}"></a> </li>
		</ul>
	</nav>
</body>
</html>