<!DOCTYPE html>
<html  xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login User</title>
</head>
<body>
	
	<h1>Epic Tasks</h1>
	
	<h2>Login Epic</h2>
  	<form action="/login" method="post" th:object="${login}">
	
		<label for="email">Email</label>
		<input id= "email" name="email" type="email" th:field="*{email}">
		<span  th:errors="*{email}"></span>
		
		<label for="password" th:text="#{title.user.password}"></label>
		<input name="password" id="password" type="password" th:field="*{password}">
		<span th:errors="*{password}"></span>
		
		
		<button th:text="#{button.Enter}"></button>
		<a href="/users/new" th:text="#{button.Registre}"></a>
	</form>
 

</body>
</html>