<!DOCTYPE html>
<html  xmlns:th="https://thymeleaf.org">
<head th:include="_template :: head">

</head>
<body>
	
	<h1 th:text="#{title.newUser}"></h1>
	
  	<form action="/users" method="post" th:object="${usuario}" >
		
		<label for="nome" th:text="#{title.user.name}"></label>
		<input name="nome" id="nome" type="text" th:field="*{nome}">
		<span th:errors="*{nome}"></span>
		
		<label for="email">Email: </label>
		<input id= "email" name="email" type="email" th:field="*{email}">
		<span  th:errors="*{email}"></span>
		
		<label for="password" th:text="#{title.user.password}"></label>
		<input name="password" id="password" type="password" th:field="*{password}">
		<span th:errors="*{password}"></span>
		
		<button th:text="#{button.Create}"></button>
	</form>
 

</body>
</html>