<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:include="_template :: head">

</head>
<body>
	
	<h1>EPIC TASK</h1>
	<span th:if="${message != null}"  th:text="${message}"></span>
	
	<h2  th:text="#{title.ListUsers}"></h2>
	
	<nav th:include="_template :: menu"></nav>
	
	
	<ul th:each="user : ${users}">
		<li style="border-style: solid; border-radius: 10px; padding: 30px">
			<label th:text="#{title.users}"></label>
			<p th:text="${user.id}"></p>
			<label>Email: </label>
			<p th:text="${user.email}"></p>
			<label th:text="#{title.name}"></label>
			<p th:text="${user.nome}"></p>
		</li>
	</ul>
</body>
</html>